@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
html, body{
  margin: 0px;
  height: 100%;
  width: 100%;
}
#color-space {
  height: 100%;
  width: 100%;
  display: table;
  -webkit-transition: background 1s ease-in;
  -o-transition: background 1s ease-in;
  transition: background 1s ease-in;
}
#color-name {
  padding: 0px 5% !important;
  display: table-cell;
  text-align: center;
  height: 100%;
  font-size: 2.5em;
  font-weight: 100;
  font-family: 'Dancing Script', cursive;
  vertical-align: middle;
  color: #ffffff;
  text-shadow: 2px 2px rgba(0,0,0,0.3);
}
@media only screen and (max-width: 600px) {
    #color-name {
        font-size:: 5em;
    }
}